<script type="text/javascript">

  function enter(e) {
    return true;
  }

  function over(e) {
    var pbi = e.dataTransfer.getData('pbi');
    var id = e.target.getAttribute('id');

    // return false para permitir soltar
    return false;
  }

  function drop(e) {
    var pbi_id = e.dataTransfer.getData('pbi');
    e.target.appendChild(document.getElementById(pbi_id));
    e.stopPropagation();
    return false;
  }

  function start(e) {
    e.dataTransfer.effectAllowed = 'move';
    e.dataTransfer.setData('pbi', e.target.getAttribute('id'));
    e.dataTransfer.setDragImage(e.target, 0, 0);
    return true;
  }

  function end(e) {
    e.dataTransfer.clearData('pbi');
    return true;
  }

  function PBI() {
    var pbi = document.createElement('div');
    var product_backlog = document.getElementById('product-backlog');
    pbi.className = 'pbi';
    product_backlog.appendChild(pbi);
  }

  PBI.prototype = {
    get id() {
      if (!("_id" in this))
        this._id = 0;
      return this._id;
    },

    set id(x) {
      this._id = x
    },

    get description() {
      return this.innerHTML;
    },

    set description(x) {
      this.innerHTML = x;
    }

  }

  function addPBI() {
    var pbi = new PBI();
  }

  // Updates the PBI
  function update_pbi(e) {

    var form = $("#hidden_form");
    var input_pbi_id = $("#pbi_id");
    var input_description = $("#description");
    var pbi = e.parentNode;

    input_pbi_id.value = e.parentNode.id;
    input_description.value = e.innerHTML;

    // Make it draggable
    e.setAttribute('contenteditable','false');
    pbi.setAttribute('draggable','true');

    // Make an AJAX call
    $.ajax({
      type: "POST",
      url: "<%=update_pbi_path%>",
      data: "pbi_id=" + input_pbi_id.value + "&description=" + input_description.value,
      success: function(msg){
        
      }
    });

  }

  // Make the div editable
  function edit_pbi(e) {

    // Get the editable element
    var div_edit = e.parentNode;
    var pbi_header = div_edit.parentNode;
    var pbi = pbi_header.parentNode;
    var divs = pbi.getElementsByTagName('div');
    var pbi_description = divs[3];
    
    
    pbi_description.setAttribute('contenteditable','true');
    pbi.setAttribute('draggable','false');
    pbi_description.focus();
  }

  // Destroys the PBI
  function delete_pbi(e) {

    // Get the id of the PBI
    var div_delete = e.parentNode;
    var pbi_header = div_delete.parentNode;
    var pbi = pbi_header.parentNode;
    
    // Make an AJAX call
    $.ajax({
      type: "POST",
      url: "<%=delete_pbi_path%>",
      data: "pbi_id=" + pbi.id,
      success: function(msg){
        
      }
    });
  }

  // Capturing tab event
  $(".pbi-description").live('keydown', function(e) {
    var keyCode = e.keyCode || e.which;

    // Tab event 
    if (keyCode == 9) {
      update_pbi(this);
    }
  });

  // Capturing tab event
  $(".pbi-header").live('mouseover', function(e) {

    var divs = this.getElementsByTagName('div');
    
    for (var i=0;i<divs.length;i++) {
      
        divs[i].style.display = 'block';
      
    }
    /*var divs = this.getElementsByTagName('div');
    if (divs.length > 0) {
      return;
    }

    // Create the div edit
    var div_edit = document.createElement('div');
    div_edit.className = 'div-edit';
    var i_icon_edit = document.createElement('i');
    i_icon_edit.className = 'icon-edit';
    i_icon_edit.addEventListener('onclick', function(e){
      alert('caca');
      edit_pbi(e.target);
    }, false);

    div_edit.appendChild(i_icon_edit);
    
    // Create the div delete
    var div_delete = document.createElement('div');
    div_delete.className = 'div-delete';
    var i_icon_trash = document.createElement('i');
    i_icon_trash.className = 'icon-trash';
    i_icon_trash.addEventListener('onclick', function(e){
      delete_pbi(e.target);
    }, false);

    div_delete.appendChild(i_icon_trash);

    // Add the divs to the header
    this.appendChild(div_delete);
    this.appendChild(div_edit);*/
    
  });

  $(".pbi-header").live('mouseout', function(e) {

    var divs = this.getElementsByTagName('div');
    for (var i=0;i<divs.length;i++) {
        divs[i].style.display = 'none';
    }

    /*var divs = this.getElementsByTagName('div');
    if (divs.length == 0) {
      return;
    }

    // Get the divs_and detroy them
    var divs = this.getElementsByTagName('div');
    var length = divs.length;
    for (var i=0;i<length;i++) {
      this.removeChild(divs[0]);
    }*/
    
  });

</script>

<%= link_to 'Add', create_pbi_path, remote: true %>
<div id="product-backlog" 
  ondragenter="return enter(event)"
  ondragover="return over(event)"
  ondrop="return drop(event)">
  <%= render 'sprint/partials/product_backlog' %>
</div>
<div id="sprint"
  ondragenter="return enter(event)"
  ondragover="return over(event)"
  ondrop="return drop(event)">
  
</div>

