<div class="navigation">
  <h1>Options</h1>

  <%= link_to assign_pbis_path do %>
  <div class="name">Assign PBI</div>
  <% end %>

  <%= link_to taskboard_path do %>
  <div class="name">Taskboard</div>
  <% end %>

</div>