<div id="<%=p.id%>" class="pbi"
  ondragstart="return start(event)"
  ondragend="return end(event)"
  draggable="true">
  <div class="pbi-header">
    <i class="icon-trash" onclick="edit_pbi(this)"></i>
  </div>
  <div class="pbi-description" tabindex="-1">
    <%= p.description %>
  </div>
</div>