body {
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
}

html { height:100%; }

a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
  width: 100%;
  height: 125px;
  background-color: #F1F1F7;
  margin-bottom: 6px;
  
}

.header .header-top1 {
  width: 100%;
  height: 25px;
  background: -moz-linear-gradient(#829AA8,#405A6A);
  background: -webkit-linear-gradient(#829AA8,#405A6A);
}

.header .header-top2 {
  width: 100%;
  height: 99px;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}

.navigation {
  margin-left: 5px;
  text-align: left;
  width: 15%;
  max-width: 200px;
  height: 300px;
  
  float: left;
}

.navigation a{
  font-style: italic;
  font-size: 12px;
  cursor: pointer;
  color: #08C;
  text-decoration: none;

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.navigation .name {
  margin: 0px;
  padding-left: 5px; 
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
  height: 20px;
  padding-top: 10px;
  padding-left: 13px;
}

.navigation .name:hover {
  background-color: #F1F1F7; 
  border: 1px solid #dddddd;
  border-top: none;
}

.navigation h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  padding-left: 10px;
  border: 1px solid #dddddd;
  background-color: #F1F1F7; 
  line-height: 20px;
}

.content {
  text-align: left;
  width: 84%;
  float: left;
  min-height: 300px;
  margin-bottom: 40px;
  margin-left: 5px;
  padding-top: 5px;
}

.section-content {
  margin-left: 20px;
  margin-right: 15px;
}

#product-backlog {
  float: left;
  width: 45%;
  min-height: 500px;
  border: 1px solid #dddddd;
}

#product-backlog .header {
  width: 100%;
  height: 30px;
  background-color: #dddddd;
} 

#product-backlog .header label{
  margin-left: 20px;
  padding-top: 6px;
  font-size: 15px;
  text-align: left;
}

.rowcontainer {
  min-height: 140px;
  overflow: auto;
  border-bottom: 1px solid #dddddd;
  clear: both;
}

.story {
  width: 19%;
  min-height: 140px;
  float: left;
  border-right: 1px solid #dddddd;
  
  overflow: auto;
}

.story-header {
  width: 19%;
  height: 20px;
  float: left;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  overflow: auto;
  font-variant:small-caps;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.activities {
  width: 100%;
  min-height: 140px;
  border: 1px solid #dddddd;
}

.todo {
  width: 26%;
  min-height: 140px;
  float: left;
  border-right: 1px solid #dddddd;
  overflow: auto;
}

.todo-header {
  width: 26%;
  height: 20px;
  float: left;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  font-variant:small-caps;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.inprogress {
  width: 26%;
  min-height: 140px;
  float: left;
  border-right: 1px solid #dddddd;
}

.inprogress-header {
  width: 26%;
  height: 20px;
  float: left;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  font-variant:small-caps;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.done {
  width: 26%;
  min-height: 140px;
  float: left;
  border-right: 1px solid #dddddd;

}

.done-header {
  width: 26%;
  height: 20px;
  float: left;
  border-right: 1px solid #dddddd; 
  border-bottom: 1px solid #dddddd;
  font-variant:small-caps;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

#sprint {
  float: left;
  width: 45%;
  min-height: 500px;
  border: 1px solid #dddddd;
  margin-left: 20px;
}

#sprint .header {
  width: 100%;
  height: 30px;
  background-color: #dddddd;
}

#sprint .header label{
  margin-left: 20px;
  padding-top: 6px;
  font-size: 15px;
  text-align: left;
}

.pbi-taskboard {
  float: left;
  min-width: 100px;
  min-height: 66px;
  width: 80%;
  border: 1px solid #dddddd;
  font-size: 10px;
  margin-top: 10px;
  margin-left: 10%;
  cursor: pointer;
}

.activity {
  float:left;
  width: 80px;
  height: 80px;
  margin-left: 10%;
  margin-top: 10px;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
  font-size: 10px;
  cursor: pointer;
}

.activity-header {
  width: 100%;
  height: 6px;
  border-bottom: 1px solid #dddddd;
  background-color: #D6E9C6;
}

.activity-description {
  width: 100%;
  height: 100%;
  padding-right: 5px;
  padding-left: 5px;
}

.activity-edit {
  float: right;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  position: relative;
  top: -18px;
  display:block;
  border-bottom: 1px solid #dddddd;
  background-color: #F1F1F7;
}

.activity-delete {
  float: right;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  position: relative;
  top: -18px;
  display:block;
  border-bottom: 1px solid #dddddd;
  background-color: #F1F1F7;
}

.pbi {
  float: left;
  min-width: 100px;
  min-height: 66px;
  width: 30%;
  border: 1px solid #dddddd;
  font-size: 10px;
  margin-top: 10px;
  margin-left: 2.2%;
  cursor: pointer;
  overflow: auto;
}

.pbi-header {
  width: 100%;
  height: 7px;
  border-bottom: 1px solid #dddddd;
  background-color: #dddddd;
}

.pbi-description {
  width: 100%;
  height: 100%;
  min-height: 100% !important;;
  padding-top: 3px;
  background-color: #F1F1F7;
  overflow: auto;
}

.pbi-editable {
  margin: 5px;
  margin-top:0px;
  margin-bottom: 2px;
  min-height: 100% !important;;
  height: 100%;
  background-color: #F1F1F7;
}

.div-edit {
  float: right;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  display: none;
}

.div-delete {
  float: right;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  display: none;
}

.scroll-pane {
  width: 200px;
  height: 200px;
  overflow: auto;
  background: #ccc;
  float: left;
}

.footer {
  margin-left: auto ;
  margin-right: auto ;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
  height: 120px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: #F1F1F7;
  clear: both;
  padding-top: 10px;
}

.footer-content {
  text-align: center;
  margin: auto;
  width: 610px;
  height: 120px;
}

.footer-item {
  text-align: left;
  height: 100px;
  width: 140px;
  float: right;
  margin-left: 10px;
}

.footer-item span {
  font-weight: bold;
  font-size: 12px;
  width: 100px;
  
}

.footer-item ul {
  margin: 0px;
  padding-top: 7px;
  border-top: 1px solid #dddddd;
}

.footer-item ul li {
  font-size: 11px;
  list-style-type: none;
  line-height: 14px;
}

.footer-item ul li a:hover {
  text-decoration: none;
}
