body {
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
  width: 100%;
  height: 125px;
  background-color: #F1F1F7;
  margin-bottom: 6px;
  
}

.header .header-top1 {
  width: 100%;
  height: 25px;
  background: -moz-linear-gradient(#829AA8,#405A6A);
  background: -webkit-linear-gradient(#829AA8,#405A6A);
}

.header .header-top2 {
  width: 100%;
  height: 99px;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}

.navigation {
  margin-left: 5px;
  text-align: left;
  width: 15%;
  max-width: 200px;
  height: 300px;
  background-color: white;
  float: left;
}

.navigation a{
  font-style: italic;
  font-size: 12px;
  cursor: pointer;
  color: #08C;
  text-decoration: none;

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.navigation .name:hover {
  background-color: #F1F1F7; 
  border: 1px solid #dddddd;
  border-top: none;
}

.navigation h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  padding-left: 10px;
  border: 1px solid #dddddd;
  background-color: #F1F1F7; 
  line-height: 20px;
}

.content {
  text-align: left;
  width: 84%;
  float: left;
  min-height: 300px;
  margin-bottom: 40px;
  margin-left: 5px;
  padding-top: 5px;
  border-left: 1px solid #dddddd;
}

.section-content {
  margin-left: 20px;
  margin-right: 15px;
}

#product-backlog {
  float: left;
  width: 45%;
  min-height: 500px;
  border: 1px solid black;
}

.pbi {
  float: left;
  min-width: 100px;
  min-height: 66px;
  width: 30%;
  border: 1px solid black;
  font-size: 10px;
  margin-top: 10px;
  margin-left: 2.2%;
  cursor: pointer;
}

.pbi-header {
  width: 100%;
  height: 17px;
  border-bottom: 1px solid black;
  background-color: #dddddd;
}

.pbi-description {
  width: 100%;
  height: 100%;
}

.pbi-description textarea{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 94%;
  min-height: 66px;
  font-size: 11px;
}

.div-edit {
  float: right;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  display: none;
}

.div-delete {
  float: right;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  display: none;
}

.scroll-pane {
  width: 200px;
  height: 200px;
  overflow: auto;
  background: #ccc;
  float: left;
}

#sprint {
  float: left;
  width: 45%;
  min-height: 500px;
  border: 1px solid black;
  margin-left: 20px;
}

.footer {
  margin-left: auto ;
  margin-right: auto ;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
  height: 120px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: #F1F1F7;
  clear: both;
  padding-top: 10px;
}

.footer-content {
  text-align: center;
  margin: auto;
  width: 610px;
  height: 120px;
}

.footer-item {
  text-align: left;
  height: 100px;
  width: 140px;
  float: right;
  margin-left: 10px;
}

.footer-item span {
  font-weight: bold;
  font-size: 12px;
  width: 100px;
  
}

.footer-item ul {
  margin: 0px;
  padding-top: 7px;
  border-top: 1px solid #dddddd;
}

.footer-item ul li {
  font-size: 11px;
  list-style-type: none;
  line-height: 14px;
}

.footer-item ul li a:hover {
  text-decoration: none;
}
